


{{ define "head" -}}


{{ $pagination := resources.Get "css/pagination.css" }}
  
{{ $pagination := $pagination | resources.Minify | resources.Fingerprint }} 

<link rel="stylesheet" href="{{ $pagination.RelPermalink }}">


{{ end }}







{{ define "main" -}}
<div class="posts">
{{ $pages := site.RegularPages }}
{{ $paginator := .Paginate $pages 5 }}

{{ range $paginator.Pages }}
<article class="post">
  <h2 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "2006-01-02" }}</time>

  {{ if .Params.description }}
    <p>{{ .Params.description }}</p>
  {{ else }}
    <p>{{ .Summary | truncate 100 }}</p>
  {{ end}}
  
</article>
{{- end }}

<div class="scroll">
{{ partial "pagination" . }}
</div>


</div>



{{- end }}
