


{{ define "head" -}}




{{ $pagination := resources.Get "css/pagination.css" }}
  
{{ $pagination := $pagination | resources.Minify | resources.Fingerprint }} 

<link rel="stylesheet" href="{{ $pagination.RelPermalink }}">


{{ end }}







{{ define "main" -}}
<div class="posts">


{{ $pages := site.RegularPages }}
{{ $paginator := .Paginate $pages 5 }}

{{ range $paginator.Pages }}
  {{ .Render "li" }}
{{- end }}

<div class="scroll">
{{ partial "pagination" . }}
</div>


</div>



{{- end }}
