:root {
    --sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, .06), 0px 2px 1px hsla(0, 0%, 0%, .06);
    --sl-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, .03), 0px 5px 2px hsla(0, 0%, 0%, .03), 0px 3px 2px hsla(0, 0%, 0%, .06), 0px 1px 1px hsla(0, 0%, 0%, .06);
    --sl-shadow-lg: 0px 25px 7px rgba(0, 0, 0, .01), 0px 16px 6px hsla(0, 0%, 0%, .03), 0px 9px 5px hsla(223, 13%, 10%, .08), 0px 4px 4px hsla(0, 0%, 0%, .16), 0px 4px 2px hsla(0, 0%, 0%, .04);
}



body {
    font-family: "Outfit", serif;
}


.img-fluid {
    max-width: 100%;
    height: auto
}

.figure {
    display: inline-block
}


.bold {
    font-weight: 700;
}

.hyperlink {
    color:#202020;
    text-decoration-style: dashed !important;
    text-underline-offset: 8px;
    text-decoration: underline;
    text-decoration-color: black;
}

.hyperlink {
    text-underline-offset: 8px;
    text-decoration-color: #4c4edd;
}
p, a {
    word-break: break-word;
}

.scroll {
    width: 100%;
    white-space: nowrap;
    /* [1] */
    overflow-x: auto;
    /* [2] */
    -webkit-overflow-scrolling: touch;
    /* [3] */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* [4] */;
}
/* [5] */
.scroll::-webkit-scrollbar {
    display: none;
}

.next, .prev {
    margin: .3rem;
    font-size: .9rem;
    box-shadow: var(--sl-shadow-sm);
}
.next:hover, .prev:hover {
    border: 1px solid #4c4edd;
}

.prev, .prev>.card-body{
    padding: .3rem;
}

.next, .next>.card-body{
    text-align: right;
    padding: .3rem;
}

.related a {
    color: black;
}
.related hr {
    border: 2px solid #4c4edd;
}


.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col {
    flex: 1 0 0%;
}


.col-6 {
    flex: 0 0 auto;
    width: 50%;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .sidebar-nav li {
        display: inline-flex;
        margin-inline-start: 1rem;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 100%;
    }
}



/** FOOTER **/

footer {
    background-color: #F0F1F2;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}

@media (min-width: 48em) {
    .footer {
        max-width: 38rem;
        margin-left: 20rem;
        margin-right: 2rem;
    }
}

@media (min-width: 64em) {
    .footer {
        margin-left: 22rem;
        margin-right: 4rem;
    }
}



/** PADDING & MARGIN **/


.mt-0 {
    margin-top: 0 !important
}

.mt-2 {
    margin-top: 0.5rem !important
}

.mb-2 {
    margin-bottom: 0.5rem !important
}

.mt-3 {
    margin-top: 1rem !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

.mt-5 {
    margin-top: 3rem !important
}

.mb-5 {
    margin-bottom: 3rem !important
}

.mt-10 {
    margin-top: 6rem !important
}

.mb-10 {
    margin-bottom: 6rem !important
}

.pt-5 {
    padding-top: 3rem !important
}

.pb-5 {
    padding-bottom: 3rem !important
}


.px-2 {
    padding-right: 1.5rem !important
}

.px-2 {
    padding-left: 1.5rem !important
}

.mt-10 {
    margin-top: 6rem !important
}

.mb-10 {
    margin-bottom: 6rem !important
}

.p-0 {
    padding: 0 !important
}

.p-2 {
    padding: .5rem !important;
}

.py {
    margin: 3rem;
}